# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore environment variables and secret keys
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore operating system-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore log files
*.log

# Ignore virtual environment folder
venv/
